!!!
%html
  %head
    = display_meta_tags(page_meta_tags)
    %meta{:content => "width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Lobster", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .page-body
      .page
        .header-wrapper
          .header.base-width
            = render 'partials/header'
        = yield
        .footer-wrapper
          .footer.base-width
            = render 'partials/footer'
    = render 'partials/seo/yandex_counter'
